.dark-theme,
html[data-theme='dark'] {
  --bg-color: #33272a;
  --bg-color-1: #2e2326;
  --bg-color-2: #291f22;
  --bg-color-3: #241b1d;
  --bg-color-4: #1f1719;
  --bg-color-5: #1a1415;
  --bg-color-6: #141011;
  --cd-inactive-color: #705b5f;
  --cd-active-color: #dc672c;
  --cd-accent-color: #56b5c2;
  --cd-alternate-color: #d19865;
  --ls-primary-background-color: var(--bg-color);
  --ls-secondary-background-color: var(--bg-color-1);
  --ls-tertiary-background-color: var(--bg-color-2);
  --ls-quaternary-background-color: var(--bg-color-3);
  --ls-table-tr-even-background-color: var(--color-level-3);
  --ls-active-primary-color: var(--cd-active-color);
  --ls-active-secondary-color: var(--cd-alternate-color);
  --ls-block-properties-background-color: var(--color-level-1);
  --ls-page-properties-background-color: var(--color-level-1);
  --ls-block-ref-link-text-color: var(--cd-active-color);
  --ls-search-background-color: linear-gradient(
    to right,
    hsl(220, 16%, 22%) 0,
    hsl(220, 16%, 26%) 200px,
    hsl(220, 16%, 30%) 100%
  );
  --ls-mark-bg-color: var(--cd-accent-color);
  --ls-mark-color: var(--cd-active-color);
  --ls-border-color: var(--cd-accent-color);
  --ls-secondary-border-color: #126277;
  --ls-guideline-color: var(--cd-inactive-color);
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: #c7ad9d;
  --ls-secondary-text-color: #968185;
  --ls-title-text-color: var(--ls-primary-text-color);
  --ls-link-text-color: var(--ls-secondary-text-color);
  --ls-link-text-hover-color: var(--cd-alternate-color);
  --ls-link-ref-text-color: var(--cd-active-color);
  --ls-link-ref-text-hover-color: var(--cd-alternate-color);
  --ls-tag-text-color: var(--cd-active-color);
  --ls-tag-text-hover-color: var(--cd-alternate-color);
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-bullet-border-color: #33272a;
  --ls-block-bullet-color: var(--ls-guideline-color);
  --ls-block-highlight-color: var(--bg-lg-3);
  --ls-selection-background-color: var(--cd-active-color);
  --ls-page-checkbox-color: transparent;
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
  --ls-page-blockquote-border-color: var(--ls-border-color);
  --ls-page-inline-code-color: var(--cd-alternate-color);
  --ls-page-inline-code-bg-color: var(--color-level-2);
  --ls-scrollbar-foreground-color: var(--cd-inactive-color);
  --ls-scrollbar-background-color: var(--color-level-6);
  --ls-scrollbar-thumb-hover-color: var(--cd-accent-color);
  --ls-head-text-color: var(--ls-link-text-color);
  --ls-cloze-text-color: var(--cd-active-color);
  --ls-icon-color: var(--cd-active-color);
  --ls-search-icon-color: var(--ls-link-text-color);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: var(--bg-color-3);
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: var(--bg-color-4);
  --color-level-5: var(--bg-color-5);
  --color-level-6: var(--bg-color-5);
}

.white-theme,
html[data-theme='light'] {
  --bg-color: hsl(218, 27%, 94%);
  --bg-dk-1: hsl(218, 27%, 92%);
  --bg-dk-2: hsl(219, 28%, 88%);
  --bg-dk-3: hsl(219, 28%, 85%);
  --bg-lg-1: #DBE0EB;
  --bg-lg-2: #DDE3EC;
  --bg-lg-3: #E0E5EE;
  --cd-blue: hsl(213, 32%, 52%);
  --cd-blue-1-1: hsl(213, 32%, 48%);
  --cd-blue-1-2: hsl(213, 32%, 44%);
  --cd-blue-1-3: hsl(213, 32%, 40%);
  --cd-blue-1-4: hsl(213, 32%, 56%);
  --cd-blue-1-5: hsl(213, 32%, 60%);
  --cd-blue-1-6: hsl(213, 32%, 64%);
  --cd-blue-2: #8FBCBB;
  --cd-blue-3: #81A1C1;
  --cd-blue-4: #88C0D0;
  --cd-red-1: #BF616A;
  --cd-orange-1: #D08770;
  --cd-yellow-1: #EBCB8B;
  --cd-green-1: #A3BE8C;
  --cd-pink-1: #B48EAD;
  --ls-primary-background-color: var(--bg-color);
  --ls-secondary-background-color: var(--bg-dk-1);
  --ls-tertiary-background-color: var(--bg-dk-2);
  --ls-quaternary-background-color: var(--bg-dk-3);
  --ls-table-tr-even-background-color: var(--bg-dk-3);
  --ls-active-primary-color: var(--cd-blue-2);
  --ls-active-secondary-color: var(--cd-blue-4);
  --ls-block-properties-background-color: var(--bg-dk-1);
  --ls-page-properties-background-color: var(--bg-dk-1);
  --ls-block-ref-link-text-color: var(--cd-blue-3);
  --ls-search-background-color: linear-gradient(
    to right,
    hsl(220, 16%, 22%) 0,
    hsl(220, 16%, 26%) 200px,
    hsl(220, 16%, 30%) 100%
  );
  --ls-mark-bg-color: var(--cd-pink-1);
  --ls-mark-color: var(--cd-yellow-1);
  --ls-border-color: var(--cd-blue-2);
  --ls-secondary-border-color: #126277;
  --ls-guideline-color: #bac6db;
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: #3B4252;
  --ls-secondary-text-color: #3B4252;
  --ls-title-text-color: var(--ls-primary-text-color);
  --ls-link-text-color: var(--ls-secondary-text-color);
  --ls-link-text-hover-color: var(--cd-blue-2);
  --ls-link-ref-text-color: var(--cd-blue-1-1);
  --ls-link-ref-text-hover-color: var(--cd-blue-1-4);
  --ls-tag-text-color: var(--cd-blue-1-1);
  --ls-tag-text-hover-color: var(--cd-blue-1-4);
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-bullet-border-color: var(--bg-dk-2);
  --ls-block-bullet-color: var(--ls-guideline-color);
  --ls-block-highlight-color: var(--bg-lg-3);
  --ls-selection-background-color: var(--cd-blue);
  --ls-page-checkbox-color: transparent;
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
  --ls-page-blockquote-border-color: var(--ls-border-color);
  --ls-page-inline-code-color: var(--cd-pink-1);
  --ls-page-inline-code-bg-color: #b48ead26;
  --ls-page-inline-code-border: 1px solid var(--cd-pink-1);
  --ls-scrollbar-foreground-color: #9ea7b7;
  --ls-scrollbar-background-color: var(--bg-dk-3);
  --ls-scrollbar-thumb-hover-color: var(--cd-blue-2);
  --ls-head-text-color: var(--ls-link-text-color);
  --ls-cloze-text-color: var(--cd-blue-1);
  --ls-icon-color: var(--cd-blue-4);
  --ls-search-icon-color: var(--ls-link-text-color);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: var(--bg-lg-2);
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: var(--bg-lg-1);
  --color-level-5: var(--bg-lg-2);
  --color-level-6: var(--bg-lg-3);
}

.bg-indigo-600 {
  background-color: var(--cd-blue-3);
}

.extensions__code-lang {
  top: 4px;
  padding: .10rem !important;
}

.dark-theme .CodeMirror.cm-s-solarized.cm-s-dark, .dark-theme .extensions__code-lang {
  background-color: var(--color-level-3);
}

.white-theme .CodeMirror.cm-s-solarized.cm-s-white, .white-theme .extensions__code-lang {
  background-color: var(--bg-lg-3);
}

.dark-theme .CodeMirror-gutter,
.dark-theme .CodeMirror-lines,
.dark-theme .CodeMirror-scroll,
.dark-theme .CodeMirror-sizer {
  background-color: var(--color-level-3);
}
html[data-theme='light'] .CodeMirror-gutter,
.CodeMirror-lines,
.CodeMirror-scroll,
.CodeMirror-sizer {
  background-color: var(--bg-lg-3);
}

.cm-s-solarized.cm-s-dark {
  color: var(--ls-primary-text-color);
}
/* something */
.cm-s-solarized .cm-keyword {
  color: var(--cd-active-color);
}
.cm-s-solarized .cm-operator {
  color: var(--cd-active-color);
}
.cm-s-solarized .cm-property {
  color: var(--cd-alternate-color);
}
.cm-s-solarized .cm-builtin {
  color: var(--cd-alternate-color);
}
.cm-s-solarized .cm-number {
  color: var(--cd-accent-color);
}
.cm-s-solarized .cm-string {
  color: var(--cd-accent-color);
}
.cm-s-solarized .cm-comment {
  color: var(--cd-inactive-color);
}
.cm-s-solarized .cm-variable {
  color: var(--ls-primary-text-color);
}
.cm-s-solarized .cm-def, .cm-s-solarized .cm-attribute {
  color: var(--cd-active-color);
}

.page-ref {
  font-weight: 400;
}

.page-reference .bracket {
  font-weight: 400;
  color: var(--ls-primary-text-color);
  opacity: 0.3;
}

mark {
  background-color: transparent;
  color: var(--ls-primary-text-color);
  padding: 0px 0px !important;
  border-radius: 1px !important;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
  text-decoration-skip-ink: none;
  text-decoration-color: var(--ls-mark-color);
}

.editor-inner .uniline-block:is(.h1,.h2), .ls-block :is(h1,h2) {
  border-bottom: 0px solid !important;
}

.block-marker {
  color: var(--ls-page-checkbox-color);
}

.dark-theme .external-link:after {
  font-family: 'tabler-icons';
  content: "\ea99";
  padding-left: 3px;
  font-size: 80%;
}
.dark-theme .external-link {
  color: var(--cd-accent-color);
  border-bottom: 0px solid;
}
.dark-theme .external-link:hover {
  color: var(--cd-active-color);
}

.white-theme .external-link:after {
  font-family: 'tabler-icons';
  content: "\ea99";
  padding-left: 3px;
  color: var(--ls-primary-text-color);
  font-size: 80%;
}
.white-theme .block-ref, .dark-theme .block-ref {
  border-radius: 4px !important;
  padding: 2px 6px;
}
.white-theme .block-ref {
  background-color: #8fbcbb45 !important;
  border-bottom: 2px solid #b7bdc8 !important;
}
.white-theme .block-ref:hover {
  color: var(--cd-pink-1);
}

.dark-theme .block-ref {
  background-color: #5d81ac52 !important;
  border-bottom: 2px solid #7b88a3 !important;
}
.dark-theme .block-ref:hover {
  color: var(--cd-yellow-1);
}
.block-children-left-border {
  background-color: var(--ls-guideline-color) !important;
}
.block-children-left-border:hover {
  background-color: var(--ls-primary-text-color) !important;
}

.dark-theme :not(pre)>code {
  background-color: transparent;
  border: 0px solid !important;
  padding: 0px 2px !important;
  color: var(--cd-alternate-color);
  font-style: italic !important;
}
.white-theme :not(pre)>code {
  background-color: transparent;
  border: 0px solid !important;
  padding: 0px 2px !important;
  color: var(--cd-green-1);
  border-radius: 2px !important;
  font-style: italic !important;
}

html[data-theme=light] .cp__right-sidebar .block-content {
  --ls-page-inline-code-bg-color: transparent !important;
}

/* Right sidebar properties, right sidebar references window */
#right-sidebar .block-properties {
  background-color: var(--color-level-2);
}

#right-sidebar .my-2.color-level .block-properties {
  background-color: var(--color-level-3) !important;
}

/* Embedded page, main container reference window */
#main-content-container .references-blocks .block-properties {
  background-color: var(--color-level-2) !important;
}

/* References title and breadcrumbs */
.dark-theme .references .foldable-title .page-ref:hover, .white-theme .references .foldable-title .page-ref:hover {
  color: var(--ls-link-ref-text-hover-color) !important;
}
.dark-theme .references .foldable-title .page-ref, .white-theme .references .foldable-title .page-ref {
  color: var(--ls-primary-text-color);
}
.dark-theme .block-parents a {
  color: var(--cd-inactive-color) !important;
  font-size: 85%;
}
.dark-theme .block-parents a .page-ref, .white-theme .block-parents a .page-ref {
  color: var(--ls-link-ref-text-color) !important;
}
.white-theme .block-parents a {
  color: var(--cd-inactive-color) !important;
  font-size: 85%;
}
.dark-theme .block-parents a:hover, .white-theme .block-parents a:hover {
  color: var(--ls-primary-text-color) !important;
}

.white-theme .references .foldable-title .page-ref, .white-theme .block-parents a {
  color: #373f4f;
}

.color-level.rounded {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}

.my-2 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

li.my-2 {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}

.block-marker {
  display: none !important;
}

.form-checkbox {
  border: 1.5px solid var(--ls-primary-text-color);
  opacity: 0.3;
  border-radius: 2px;
}

.form-checkbox:checked {
  background-color: var(--cd-blue-4);
}

.journal h1.title:before {
  content: "📆 ";
  font-size: 80%;
  position: relative;
  top: -3px;
}

.dark-theme .tag {
  font-size: 90% !important;
  padding: 0px 6px;
  color: var(--cd-active-color) !important;
  font-weight: 600 !important;
  background-color: var(--color-level-3);
  border-radius: 2px;
}
.dark-theme .tag:hover {
  color: var(--ls-tag-text-hover-color);
}
.white-theme .tag {
  font-size: 90% !important;
  padding: 0px 2px;
  color: var(--cd-blue) !important;
  font-weight: 400 !important;
  background-color: #bac6db5c;
  border-radius: 2px;
}
.white-theme .tag:hover {
  color: var(--ls-tag-text-hover-color);
}

.done .tag {
  text-decoration: line-through;
}

.dark-theme .block-parents a.tag {
  color: var(--cd-active-color) !important;
  background-color: var(--color-level-3);
}
.white-theme .block-parents a.tag {
  color: var(--cd-blue) !important;
}

/* PDF Viewer */
#pdf-layout-container[data-theme=light] .textLayer {
  background-color: #eceff4;
}
#pdf-layout-container[data-theme=dark] .textLayer {
  background-color: #2f3541;
}

#pdf-layout-container[data-theme=light] {
  background-color: #ced6e3;
}
#pdf-layout-container[data-theme=dark] {
  background-color: #22272f;
}

.textLayer .highlight.selected, .textLayer ::selection {
  background-color: var(--cd-blue-3);
}

:root {
  --ph-highlight-color-blue: var(--cd-blue-4);
  --ph-highlight-color-green: var(--cd-green-1);
  --ph-highlight-color-red: var(--cd-red-1);
  --ph-highlight-color-purple: var(--cd-pink-1);
  --ph-highlight-color-yellow: var(--cd-yellow-1);
  --ph-highlight-scroll-into-color: rgba(255, 75, 93, 0.67);
}

.hls-popup-box {
  background-color: var(--bg-dk-2);
}